<!DOCTYPE HTML>
<html>
<head>
<title>NodeMCU Control</title>
</head>
<body>
<div style='width: 300px; margin: auto; text-align: center;'>
<h1>Welcome to Handong Global University</h1>
<h2>NodeMCU Web Server with Mosquitto</h2>
<p></p>
<a href="/led"><button>LED toggle </button></a>
<a href="/led/on"><button>LED On </button></a>
<a href="/led/off"><button>LED Off </button></a><br/>
<a href="/iot/nth405/cds"><button>Get Light intensity</button></a><br/>
<a href="/iot/nth405/dht22"><button>Get temperature and humidity</button></a><br/>
<p>Result: {{result}}</p>
</div>
</body>
</html>

